* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Inter, system-ui, Inter, "Open Sans", sans-serif;
}

.experience {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  overflow: hidden;
  z-index: 0;
}

.experience-canvas {
  width: 100%;
  height: 100%;
  z-index: 0;
}
